@use '../../styles/variables.scss';

.plans__page {
  margin: 16px;
}

.quotes__container {
  display: grid;
  row-gap: 16px;

  & > div {
    display: grid;
    align-items: center;
  }
}

.view__grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 16px;

  & > div {
    margin: 0 auto;
    width: 250px;
    height: 300px;
    grid-template-columns: 1fr;
  }
}

.view__list {
  & > div {
    width: 100%;
    height: 100px;
    grid-template-columns: repeat(7, 1fr);

    @media screen and (max-width: variables.$screen-md-min) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 0;
      height: 200px;
      column-gap: 5px;
      font-size: 12px;
      padding: 12px 4px;
    }
  }
}
