@use '../../styles/variables.scss';

.home {
  padding: 24px 32px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: variables.$screen-md-min) {
    padding: 16px 16px;
  }
}
